$r: #ff3300;
$y: #ffc635;
$t: transparent;
$b: #00b4de;
$w: #fff;

@font-face {
  font-family: "Draft Beer";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/lasenter.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px !important;
}
@mixin flicker($freq) {
  animation: flicker $freq linear infinite;
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    61% {
      opacity: 0.75;
    }
    62% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    76% {
      opacity: 0.5;
    }
    78% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin stroke($width, $color) {
  $shadow: ();
  @for $i from -$width through $width {
    $shadow: append($shadow, #{$width}px #{$i}px $color, comma);
    $shadow: append($shadow, #{-$width}px #{$i}px $color, comma);
    $shadow: append($shadow, #{$i}px #{$width}px $color, comma);
    $shadow: append($shadow, #{$i}px #{-$width}px $color, comma);
  }
  text-shadow: $shadow;
}

.main-content {
  display: flex;
  background: black;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .header {
    position: relative;
    top: 5vh;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
  }
  .title-neon-blue {
    color: $b;
    left: 50%;
    font-size: 30px;
    font-family: "Varela Round";
    text-transform: uppercase;
    transform: translateX(25%);
    letter-spacing: 10px;
    filter: blur(1 px);
    cursor: pointer;
    @include flicker(0.25s);
    &:before {
      @include stroke(2, $b);
      content: "S♥X";
      position: absolute;
      left: 0;
      top: 40%;
      filter: blur(20px);
    }
  }
  .active-btn {
    position: absolute;
    border: thick double #32a1ce;

    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: $b;
    left: 50%;
    font-size: 30px;
    font-family: "Varela Round";
    text-transform: uppercase;
    transform: translateX(-50%);
    bottom: 2%;
    letter-spacing: 10px;
    filter: blur(1 px);
    &:before {
      content: "Start";
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(20px);
    }
  }

  .title-neon-red {
    display: inline-block;
    color: $r;
    font-family: "Draft Beer";
    font-size: 80px;
    transform: rotate(-15deg) skew(-15deg);
    cursor: pointer;
    top: 2vh;
    @include flicker(4s);
    z-index: 5;
    &:before,
    &:after {
      content: "Game";
      position: absolute;
      filter: blur(5px);
      z-index: -1;
      left: 0;
      top: 0;
    }
    &:after {
      @include stroke(20, $r);
      filter: blur(25px);
      opacity: 0.5;
      color: $r;
      z-index: 2;
    }
  }
}

.active-btn {
  border: thick double #32a1ce;
  border-radius: 10px;
  padding: 10px;
  color: $b;
  left: 50%;
  font-size: 30px;
  font-family: "Varela Round";
  text-transform: uppercase;
  transform: translateX(-50%);
  bottom: 2%;
  letter-spacing: 10px;
  filter: blur(1 px);
  &:before {
    content: "Start";
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(20px);
  }
}

@font-face {
  font-family: "Varela Round";
  src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.game-content {
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .title-neon {
    color: $b;
    font-size: 1.5rem;
    font-family: "Varela Round";
    text-transform: uppercase;
    top: 30px;
    letter-spacing: 10px;
    filter: blur(1 px);
    @include flicker(0.25s);
    cursor: pointer;
  }
  .active-btn-levels {
    z-index: 1;
    padding: 15px;
    margin-bottom: 5vh;
    background-color: black;
    border: thick double #32a1ce;
    border-radius: 10px;
    color: $b;
    left: 50%;
    font-size: 18px;
    font-family: "Varela Round";
    text-transform: uppercase;
    bottom: 2%;
    letter-spacing: 5px;
    cursor: pointer;
  }
  .type-list {
    display: flex;
    flex-basis: 0;
    justify-content: space-around;
    flex-direction: column;
  }
}

.start-btn{
  visibility: unset;
  flex-wrap: inherit !important;
}

.select-lvl {
  visibility: hidden;
}
.game {
  display: none;
  .navigation-btn {
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;

  }
}

.navigation-btn {
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
  button {
    width: 10rem;
  }
}

.card-img {
  max-width: 85%;
  margin: 0px 0px 0px 0px;
  border-radius: 30px;
  max-height: 80vh;
}

.board {
  display: flex;
  justify-content: center;
  .navigation-btn {
    .active-btn-levels {

      padding: 0px;
    }
  }

}

.little-header {
  top: 1vh !important;
  .title-neon-red {
    font-size: 40px;
    top: 1vh;
    &:after {
      @include stroke(10, $r);
      filter: blur(10px);
      opacity: 0.3;
      color: $r;
      z-index: 2;
    }
  }
  .title-neon-blue {
    font-size: 15px;
  }
}
